/* add your styles here */
body {
	background: url(https://github.com/4GeeksAcademy/css-tutorial-exercises-course/blob/master/.learn/assets/background-vertical.jpg?raw=true)
		repeat-y;
	font-family: "Times New Roman", Times, serif;
	padding-left: 20px;
}
h1 {
	font-family: "Courier New", Courier, monospace;
	color: red;
}
h2 {
	text-decoration: underline;
}
#id1 {
	background: rgb(255, 255, 255, 0.2);
	padding: 5px;
}
a {
	color: green;
	text-decoration: none;
}
